.comment
    .picture
        - var hash = hex_md5(comment.get("author_email") || "")
        img(src="https://secure.gravatar.com/avatar/" + hash + "?size=130&default=https%3A%2F%2Fwww.parse.com%2Fimages%2Faccounts%2Fno_avatar.png")
    .username= comment.get('author')
    p= comment.get('body')
